body {
	font-family: 'Exo', sans-serif;
}


/********************
NAV STYLE
********************/
/* nav body */
header {
	margin-top: 0px;
}
.nav {
	position: fixed;
	height: 90px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(91,89,92,1) 0%, rgba(65,64,66,1) 78%, rgba(65,64,66,1) 100%);
	padding: 37px 35px;
	font-weight: 700;
	font-size: 18px;
	box-shadow: 0 2px 4px black;
	z-index: 10;
}
/* logo */
.logo {
	float: left;
	height: 40px;
	display: inline-block;
	margin-top: -13px;
}
.logo img {
	height: 100%;
	width: auto;
}
/* nav bar */
.ulNav {
	float: right;
}
.ulNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ulNav li {
	list-style: none;
	display: inline;
	color: #D1D3D4;
	margin-left: 30px;
}
.ulNav a {
	color: #D1D3D4;
	transition: .5s;
}
.ulNav a:hover {
	color: white;
	transition: .5s;
}
.ulNav li:first-child {
	margin: 0;
}

/********************
MAIN COVER STYLE
********************/

.mainCover {
	background: url(../img/cover.png) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 570px;
}
.overlay {
	background-color: rgba(255,255,255,.2);
	background-size: cover;
	width: 100%;
	height: 570px;
	opacity: 0;
	transition: 1s;
}
.overlay:hover {
	opacity: 1;
	transition: 1s;
}

/********************
ABOUT ME STYLE
*********************/
#about {
	margin-top: -90px;
}
.aboutMeBg {
	background-image: url(../img/grey.png);
	padding: 75px 20px 60px 20px;
	width: 100%;
	box-shadow: 0 0 5px 3px rgba(0,0,0,.5);
}
.aboutImg {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.aboutImg img {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: double 8px #CBCBCB;
	transition: .5s;
}
.aboutImg img:hover {
	height: 100%;
	width: 100%;
	border-radius: 30%;
	border: double 8px #1F5279;
	transition: .5s;
}
.aboutMe {
	width: 43%;
	margin: 0 auto;
	max-width: 615px;
	min-width: 315px;
}
.aboutMe h1 {
	text-align: center;
	color: #414042;
	font-size: 36px;
	font-weight: 500;
	margin-top: 20px;
}
.aboutMe p {
	text-align: center;
	color: #414042;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
}
/********************
WHAT I DO
*********************/
.whatBg {
	background-image: url(../img/blue.png);
	padding: 75px 20px 60px 20px;
	width: 100%;
}
.whatImg {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.whatImg img {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: double 8px #1F5279;
	transition: .5s;
}
.whatImg img:hover {
	height: 100%;
	width: 100%;
	border-radius: 30%;
	border: double 8px #CBCBCB;
	transition: .5s;
}
.what {
	width: 43%;
	margin: 0 auto;
	max-width: 626px;
	min-width: 315px;
}
.what h1 {
	font-weight: 500;
	text-align: center;
	color: #D1D3D4;
	font-size: 36px;
	margin-top: 20px;
}
.what p {
	text-align: center;
	color: #D1D3D4;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
}

/********************
EXPERIENCE
*********************/
.expBg {
	background-image: url(../img/grey.png);
	padding: 75px 20px 60px 20px;
	width: 100%;
}
.expImg {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.expImg img {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: double 8px #CBCBCB;
}
.expImg img:hover {
	height: 100%;
	width: 100%;
	border-radius: 30%;
	border: double 8px #1F5279;
	transition: .5s;
}
.exp {
	width: 85%;
	height: auto;
	margin: 0 auto;
}
.exp:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
}

.con {
	float: left;
	width: 46%;
	margin-right: 2%;
	min-width: 320px;
}
@media only screen and (max-device-width: 320px) {
	.exp {
		width: 50%;
		height: auto;
		margin: 0 auto;
		text-align: center;
	}
}
.ass {
	float: left;
	width: 46%;
	margin-left: 2%;
	min-width: 190px;
}
.con, .ass {
	display: inline-block;
}
.exp h1 {
	font-weight: 500;
	text-align: left;
	color: #414042;
	font-size: 36px;
	margin-top: 20px;
	line-height: 35px;
	margin-bottom: 0;
}
.exp h2 {
	margin-top: 10px;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 0;
	color: #414042;
}
.exp h3 {
	margin-top: 0;
	font-size: 18px;
	line-height: 28px;
	color: #414042;
}
.exp p {
	text-align: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #414042;
}